<div class="pokemon-page">
  <header class="pokemon-page__header">
    <h1>Pokédex</h1>
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearch($event)" placeholder="Rechercher un Pokémon"
      class="pokemon-page__search">
  </header>

  <div class="pokemon-page__content">
    <div *ngIf="isLoading" class="pokemon-page__loader">
      <div class="spinner"></div>
    </div>

    <div *ngIf="error" class="pokemon-page__error">
      <p>{{ error }}</p>
      <button (click)="loadPokemons()" class="pokemon-page__retry">Réessayer</button>
    </div>

    <ng-container *ngIf="!isLoading && !error">
      <div class="pokemon-page__list">
        <div class="pokemon-list-container">
          <app-pokemon-list [pokemons]="pokemons" (selectPokemon)="onSelectPokemon($event)"></app-pokemon-list>
        </div>
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
          (pageChange)="onPageChange($event)"></app-pagination>
      </div>

      <div *ngIf="selectedPokemon" class="pokemon-page__detail">
        <app-pokemon-detail [pokemon]="selectedPokemon" (close)="onClosePokemonDetail()"></app-pokemon-detail>
      </div>
    </ng-container>
  </div>
</div>
